<div class="flex justify-center items-center h-screen">
    <div class="flex justify-center items-center flex-col w-full sm:w-full md:w-2/4 lg:w-1/3">
        <h1 class="text-5xl font-extrabold dark:text-white mb-4"><small class="ms-2 font-semibold text-gray-500 dark:text-gray-400">Sign Up</small></h1>
        <form #signupForm="ngForm" (ngSubmit)="onSubmit()"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full border">
            <div *ngIf="failure"
            class="text-red-800 bg-red-50"
            >
                <p *ngFor="let failure of failureMessages">
                    {{failure}}
                </p>
            </div>
            <div *ngIf="success" class="text-green-800 bg-green-50">
                <p>Registration successful</p>
            </div>
            <div class="form-group mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username</label>
                <input
                type="text"
                class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-lg focus:outline-none"
                id="username"
                required
                [(ngModel)]="model.username"
                name="username"
                #username="ngModel"
                >
                <div [hidden]="username.valid || username.pristine"
                     class="text-red-800 bg-red-50">
                  Username is required
                </div>
            </div>

            <div class="form-group mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                <input
                type="email"
                class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-lg focus:outline-none"
                id="email"
                required
                [(ngModel)]="model.email"
                name="email"
                pattern="[^ @]*@[^ @]*"
                #email="ngModel">
                <div [hidden]="email.valid || email.pristine"
                     class="text-red-800 bg-red-50">
                     <p *ngIf="email.errors?.['required']">Email is required</p>
                     <p *ngIf="email.errors?.['pattern']">Email must be valid</p>
                </div>
            </div>

            <div class="form-group mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
                <input
                type="password"
                class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-lg focus:outline-none"
                id="password"
                required
                [(ngModel)]="model.password"
                name="password"
                #password="ngModel"
                minlength="8"
                >
                <div [hidden]="password.valid || password.pristine"
                     class="text-red-800 bg-red-50">
                     <p *ngIf="password.errors?.['required']">Password is required</p>
                     <p *ngIf="password.errors?.['minlength']">Password must be of minimum 8 characters</p>
                </div>
            </div>
        
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" [disabled]="signupForm.invalid">Submit</button>
        </form>
    </div>
</div>